{% block title trans("account.login.title") %}
{% extends 'auth.twig' %}

{% block body %}
    <form action="{{ path('auth.login') }}" method="post">

        {% if flash('error') %}
            <div class="alert alert-danger">
                {{ flash('error') }}
            </div>
        {% endif %}
        {% if flash('info') %}
            <div class="alert alert-info">
                {{ flash('info') }}
            </div>
        {% endif %}
        {% if flash('warning') %}
            <div class="alert alert-warning">
                {{ flash('warning') }}
            </div>
        {% endif %}
        {% if flash('success') %}
            <div class="alert alert-success">
                {{ flash('success') }}
            </div>
        {% endif %}
        {{ csrf_input() }}
        {{ field('email', null,trans("email") , {type: 'email'}) }}
        {{ field('password', null, trans("password") , {type: 'password'}) }}
        <div class="mt-3" style="text-align:center;">
            {{ recaptcha() }}
        </div>
        <div class="form-check form-switch mt-2">
            <input type="checkbox" class="form-check-input" id="remember" name="remember">
            <label class="form-check-label" for="remember">{{ trans("account.login.remember") }}</label>
        </div>
        <div class="text-center">
            <button class="btn btn-primary w-100 my-4 mb-2">{{ trans("account.login.tologin") }}</button>
        </div>
        {{ include('@auth/socialbtn') }}

        {% if config('register', 'true') == 'true' %}
            <p class="text-sm mt-3 mb-0">{{ trans("account.login.nocustomeryet") }} <a href="{{ path('account.signup') }}" class="text-dark font-weight-bolder">{{ trans("account.signup.title") }}</a></p>
        {% endif %}
        {% if config('resetpwd', 'true') == 'true' %}
            <p class="text-sm mt-3 mb-0">{{ trans("account.reset.title") }} <a href="{{ path('auth.password') }}" class="text-dark font-weight-bolder">{{ trans("account.reset.pass") }}</a></p>
        {% endif %}
    </form>
    <br>

{% endblock %}
