{% include "includes/head.twig" with {title: block('title')} %}
<main class="main-content main-content-bg mt-0">
    <div class="page-header min-vh-100" style="background-image: url('{{ theme_asset('img/illustrations/404.svg') }}');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="card border-0 mb-0">
                        <div class="card-header bg-transparent">

                            <div class="login-brand">
                                <img src="{{ config('app.logo')  }}" alt="logo" class="auth-logo">
                            </div>
                            <h5 class="text-dark text-center mt-2 mb-3">{{ block('title') }}</h5>
                        </div>
                        <div class="card-body px-lg-5 pt-0">
                            {{ block('body') }}
                            <div class="mt-2 mb-5 d-flex justify-content-between">
                                <p>
                                    Copyright © <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    {{ config('app.name') }}.
                                </p>
                                <div>
                                    <h6 class="mb-0">Dark mode</h6>
                                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                                    </div>
                                </div>
                            </div>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% include "includes/script.twig" %}
{% block scripts %}{% endblock %}
</body>
</html>