{% include "includes/head.twig" with {title:trans("errors.404.title")} %}
<body class="error-page dark-version">
<main class="main-content  mt-0">
    <div class="page-header min-vh-100" style="background-image: url('{{ theme_asset('img/illustrations/404.svg') }}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 mx-auto text-center">
                    <h1 class="display-1 text-bolder text-primary">{{ trans("errors.404.title") }}</h1>
                    <p class="lead">{{ trans("errors.404.paragraph", {'%uri%': uri}) }}</p>
                    <a href="{{ path('account') }}" class="btn bg-gradient-dark mt-4">{{ trans("admin.backtosite") }}</a>
                </div>
            </div>

            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    Copyright © <script>
                        document.write(new Date().getFullYear())
                    </script>
                    {{ config('app.name') }}.
                </p>
            </div>
        </div>
        </div>
    </div>
</main>
