<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if config('html.favicon') is not empty %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ config('html.favicon') }}">
    {% else %}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#292929">
        <meta name="theme-color" content="#ffffff">
    {% endif %}
    {% if config('seo.keywords') is not empty %}
        <meta name="keywords" content="{{ config('seo.keywords') }}">
    {% endif %}
    {% if descriptionPage is defined %}
        <meta name="description" content="{{ descriptionPage }}">
    {% elseif config('seo.description') is not empty %}
        <meta name="description" content="{{ config('seo.description') }}">
    {% endif %}
    <title>
        {{ title }} | {{ config('app.name') }}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{{ theme_asset('css/nucleo-svg.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="{{ theme_asset('css/nucleo-svg.css') }}" rel="stylesheet" />
    <link id="pagestyle" href="{{ theme_asset('css/argon-dashboard.css') }}" rel="stylesheet" />
    <link href="{{ theme_global('clientx.css') }}" rel="stylesheet" />
</head>