<div class="col-md-12 col-xl-4 col-lg-6 col-sm-12 mb-lg-0 mb-4 mt-4">
    <div class="card">
        <div class="card-header text-center pt-4 pb-3">
            <span class="text-uppercase font-weight-bold text-dark">{{ product.name }}</span>

            {% if product.ribbon %}
                <div class="ribbon-wrapper">
                                <div class="ribbon"  style="background: #{{ product.ribbonColor }}!important;">{{ product.ribbon | html_decode }}</div>

                </div>
            {% endif %}
            <h1 class="font-weight-bold mt-2">
                {% if product.discounted %}
                    <del>
                        {{ product.originalPrice(product.toRecurring().name) | formatted_price(true) | trans }} {{ product.toRecurring.translateKey | trans }}</del>
                {% endif %}
                {{ product.price(product.toRecurring().name) | formatted_price(true) | trans }}
            </h1>

            <span class="text-muted">{{ product.toRecurring.translateKey | trans }}</span>
            {% if product.setupfee(product.toRecurring().name) != 0 %}
                <p class="text-muted">{{ trans("setupfee") }}
                    : {{ product.setupfee(product.toRecurring().name) | formatted_price(true, 'none') | trans }}</p>
            {% endif %}

            {% if product.inStockWarning(setting('stock_warning', "-1")) %}
                <p class="badge badge-warning">{{ trans("instock", {"%count%": product.stock}) }}</p>

            {% elseif product.stockcontrol %}
                {% if product.stock <= 0 %}
                    <span class="badge badge-danger">{{ trans("out_stock") }}</span>
                {% else %}
                    <span class="badge badge-success">{{ trans("instock", {"%count%": product.stock}) }}</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-body text-lg-start text-center pt-0">
            {{ product.description  | raw }}
            {{ include('@shop/btnadd', {product:product}) }}

        </div>
    </div>
</div>
