{% extends "layout.twig" %}

{% block title trans("basket.title") %}

{% block body %}

	<section class="forms">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">

							<div class="col-12">
								<div class="row">

									{% for row in basket.rows %}
										<div class="col-lg-6 col-md-6 col-12" class="row-{{ row.product.id }}">
											<div class="d-flex">
												<div>
													<h6 class="text-lg mb-0 mt-2">{{ row.product.name }}</h6>
													<span class="badge bg-primary" id="price-{{ row.product.id }}">{{trans("price") }}
														:
														{{ row.product.originalPrice(row.toRecurring().name) | formatted_price(true, 'none')  | trans }}</span>
													<span class="badge bg-info" id="setupfee-{{ row.product.id }}">{{trans("setupfee") }}
														:
														{{ row.product.originalSetupfee(row.toRecurring().name) | formatted_price(true, 'none')  | trans }}</span>
													<p class="text-sm mb-3 mt-3">
														{% if row.product.data is empty %}
															<input type="number" class="form-control quantity" name="quantity" value="{{ row.quantity }}" id="quantity-{{ row.quantity }}" style="width:5rem;" data-id="{{ row.product.id }}" onchange="changeQuantity(this)">
														{% else %}
															{{ row.product.primaryData }}
														{% endif %}
													</p>

													{% if row.product.free %}
														{{ trans("recurrings.monthly") }}
													{% elseif row.product.paymenttype == 'onetime' %}
														{{ trans("onetime") }}
													{% else %}

														{% if row.isUniqueCycle() %}
															{{ trans(row.UniqueCycle.translateKey) }}
														{% else %}

															<select class="form-control billing" data-id="{{ row.product.id }}" onchange="changeBilling(this)">
																{% for cycle in row.cyclesAvailable %}
																	{% if row.product.originalPrice(cycle.name, 0, true) != 0 %}
																		<option value="{{ cycle.name }}" {% if cycle.name == row.billing %} selected {% endif %}>{{ trans(cycle.translateKey) }}</option>
																	{% endif %}
																{% endfor %}
															</select>
														{% endif %}
													{% endif %}

												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12 my-auto text-end">

											{% if row.product.hasData %}

												<a class="btn btn-primary text-white mb-0" type="button" href="{{ path('basket.data', {id: row.product.id}) }}">
													<i class="fas fa-edit"></i>
												</a>
											{% endif %}

											<button class="btn btn-danger  mb-0" onclick="OnDelete(this)" data-id="{{ row.product.id }}" type="button">
												<i class="fas fa-trash"></i>
											</button>
										</div>
									</div>
								{% endfor %}

								<div class="col-lg-9 col-md-6 col-12"></div>
								<div class="col-lg-3 col-12 ms-auto">
									<h6 class="mb-3">{{trans("basket.title")}}</h6>
									<div class="d-flex justify-content-between">
										<span class="mb-2 text-sm">
											<strong>{{ trans("subtotal") }}:</strong>
										</span>
										<span class="text-dark font-weight-bold ms-2" id="subtotal">{{ basket.subtotal | formatted_price(true, "none") | trans }}</span>
									</div>
									<div class="d-flex justify-content-between">
										<span class="mb-2 text-sm">
											<strong>{{ trans("discount") }}:</strong>
										</span>
										<span class="text-dark ms-2 font-weight-bold" id="discount">{{ basket.discount | formatted_price(true, "none") | trans }}</span>
									</div>
									<div class="d-flex justify-content-between">
										<span class="text-sm">
											<strong>{{ trans("setupfee") }}:</strong>
										</span>
										<span class="text-dark ms-2 font-weight-bold" id="setupfee">{{ basket.setupfee | formatted_price(true, "none") | trans }}</span>
									</div>

									<div class="d-flex justify-content-between">
										<span class="text-sm">
											<strong>{{ trans("tax") }}:</strong>
										</span>
										<span class="text-dark ms-2 font-weight-bold" id="tax">{{ basket.vat(current_user()) }}%</span>
									</div>

									<div class="d-flex justify-content-between mt-4">
										<a href="{{ path('basket.checkout') }}" class="btn btn-primary float-right" style="max-width:auto;">{{ trans("basket.checkout" ) }}</a>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}{% block scripts %}<script src="{{ theme_global('spinning-dot.js') }}" type="module"></script><script src="{{ theme_global('basket.js' ) }}"></script><script>
window.token = "{{ csrf_token() }}"
window.currency = "{{ config('app.currency' ) | symbol_for }}"</script>{% endblock %}
